<h1> New product </h1>

<%= simple_form_for [:admin, @product] do |f| %>

<div class="group">
    <%= f.input :title %>
  </div>
<%= f.input :description %>
<%= f.input :quantity %>
<%= f.input :price %>
<%= f.input :image, as: :file %>

  <%= f.submit "Create Product" %>
<% end %>
